<!DOCTYPE html>
<html>
{% include 'navbar.html' %}
{% load static %}
<link href="{% static 'css/custom.css' %}" rel="stylesheet">
<body>
<br/>
<div class="container">
    <h3 class="text-center">Pet Adoption Form</h3> <br/>
    <form class="adoption" method="POST" action="">
        {% csrf_token %}
        <div class="row">
            <!-- Pet name -->
            <div class="col">
                <label for="pet_name">Pet Name</label>
                <input type="text" class="form-control" id="pet_name" name="pet_name" placeholder="Enter pet name" required>
            </div>
            <!-- Pet type -->
            <div class="col">
                <label for="pet_type">Pet Type</label>
                <select class="form-control" id="pet_type" name="pet_type">
                    <option value="cat">Cat</option>
                    <option value="dog">Dog</option>
                    <option value="bird">Bird</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>
        
        <div class="row">
            <!-- Pet breed -->
            <div class="col">
                <label for="pet_breed">Pet Breed</label>
                <input type="text" class="form-control" id="pet_breed" name="pet_breed" placeholder="Enter pet breed">
            </div>
            <!-- Pet image -->
            <div class="col">
                <label for="pet_image">Pet Image</label><br/>
                <input type="file" class="form-control-file" id="pet_image" name="pet_image">
            </div>
        </div>
        <div class="row">
        <!-- Pet Age -->
            <div class="col">
                <label for="pet_age">Age</label>
                <input type="number" value="0" class="form-control" id="pet_age" name="pet_age" placeholder="Age">
            </div>
            <!-- Pet Colour -->
            <div class="col">
                <label for="pet_colour">Colour</label>
                <input type="text" class="form-control" id="pet_colour" name="pet_colour" placeholder="Colour">
            </div>
        </div>
        <div class="row">
        <!-- Pet Vaccinated -->
        <div class="col">
            <input class="form-check-input" type="radio" name="pet_vaccinated" id="pet_vaccinated_true" value="1" checked>
            <label class="form-check-label" for="pet_vaccinated_true">
              Vaccinated
            </label>
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" name="pet_vaccinated" id="pet_vaccinated_false" value="0">
            <label class="form-check-label" for="pet_vaccinated_false">
              Not Vaccinated
            </label>
          </div>
        </div>  
        <div class="row">
        <!-- Physical Condition -->
            <div class="col">
                <label for="pet_physicalcondition">Physical Condition</label>
                <input type="text" class="form-control" id="pet_physicalcondition" name="pet_physicalcondition" placeholder="Please enter physical condition">
            </div>
            <!-- Pet Location -->
            <div class="col">
                <label for="pet_location">Pet Location</label>
                <input type="text" class="form-control" id="pet_location" name="pet_location" placeholder="Please enter pickup location" required>
            </div>
        </div>
        <div class="row">
        <!-- pet gender -->
          <div class="col">
            <label for="pet_gender">Gender</label>
            <select class="form-control" id="pet_gender" name="pet_gender" placeholder="Please enter pet gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </div>
            <!-- Pet Food -->
            <div class="col">
                <label for="pet_food">Pet Food</label>
                <input type="text" class="form-control" id="pet_food" name="pet_food" placeholder="Please enter pet food">
            </div>
        </div>
        <!-- Pet Availability -->
        <div class="row">
            <div class="col">
                <label class="form-check-label" for="pet_availability">Pet Available for Adoption?</label><br/>
                <input type="checkbox" class="form-check-input" value="True" id="pet_availability" name="pet_availability" required>
            </div>
            <!-- mobile -->
            <div class="col">
                <label for="pet_mobile">Mobile Number:</label>
                <input type="tel" class="form-control" id="pet_mobile" name="pet_mobile" pattern="01[3-9][0-9]{8}" placeholder="Please enter your mobile number in the format: xxx-xxx-xxxx" required>
                </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="pet_behaviour">Pet Behaviour</label>
                <textarea class="form-control" id="pet_behaviour" name="pet_behaviour" rows="3" placeholder="Enter pet behaviour"></textarea>
            </div>
                <!-- Pet description -->
            <div class="col">
                <label for="pet_description">Pet Description</label>
                <textarea class="form-control" id="pet_description" name="pet_description" rows="3" placeholder="Enter pet description"></textarea>
            </div>
        </div>
        <div class="d-grid gap-2 col-4 mx-auto text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <br/><br/><br/>
</div>
</body>
{% include 'footer.html' %}
</html>

