<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pet Adoption and Missing System</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <!-- Navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Pet Adoption and Missing System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Adoption</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Missing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rehome</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Donate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Banner -->
  <div style="width:100%; height:300px; background-image:url('/static/images/banner.jpg'); background-size:cover; position:relative;">
    <div style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); text-align:center;">
      
      <button class="btn btn-primary">Post</button>
    </div>
  </div>
  <!-- Adoption section -->
  <div class="container">
    <h2>Available for Adoption</h2>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <img src="/static/images/pet1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dog Name</h5>
            <p class="card-text">Breed: Dog Breed</p>
            <p class="card-text">Age: 2 years</p>
            <p class="card-text">Gender: Male</p>
            <p class="card-text">Description: A friendly and playful dog looking for a new home.</p>
            <button class="btn btn-primary">Adopt</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
