<!DOCTYPE html>
<html>
{% include 'navbar.html' %}
{% load static %}
<link href="{% static 'css/custom.css' %}" rel="stylesheet">
<body>
<br/>
<div class="container">
    <h3 class="text-center">Pet Adoption Request Form</h3> <br/>
    <form class="adoption" method="POST" action="">
        {% csrf_token %}
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="{% static 'img/blog-1.jpg' %}" />
            </div>
            <div class="col">
              <label>Pet Name: {{pet.pet_name}}</label><br/>
              <label>Pet Type : {{pet.pet_type}}</label><br/>
              <label for="reason">Why you want to adopt?</label>
              <textarea class="form-control" id="reason" name="reason" ></textarea>
              <label for="mobile">Mobile Number:</label>
              <input type="tel" class="form-control" id="mobile" name="mobile" pattern="01[3-9][0-9]{8}" placeholder="Format: xxx-xxx-xxxx" required>
              <label for="requester_email">Email Address</label>
              <input type="text" class="form-control" id="requester_email" name="requester_email" >
              <label for="had_pet">Had per before?</label><br/>
              <input class="form-check-input position-static" type="radio" name="had_pet" id="had_pet_true" value="1">
              <label class="form-check-label" for="had_pet_true">yes</label>
              <input class="form-check-input position-static" type="radio" name="had_pet" id="had_pet_false" value="0">
              <label class="form-check-label" for="had_pet_false">no</label><br/>
              <label for="can_pick_up">Can you pick up?</label><br/>
              <input class="form-check-input position-static" type="radio" name="can_pick_up" id="can_pick_up_true" value="1">
              <label class="form-check-label" for="can_pick_up_true">yes</label>
              <input class="form-check-input position-static" type="radio" name="can_pick_up" id="can_pick_up_false" value="0">
              <label class="form-check-label" for="can_pick_up_false">no</label><br/><br/>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
    </form>
</div>
  <br><br><br><br>
</body>
{% include 'footer.html' %}
</html>

