<!DOCTYPE html>
<html>
{% include 'navbar.html' %}
{% load static %}
  <body class="d-flex flex-column min-vh-100"><br/>
    <h3 class="text-center">My Missing posts</h3>
    <div class="container">
    <table class="table">
      <thead>
        <thead>
          <th scope="col">Pet Name</th>
          <th scope="col">Pet Breed</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </thead>
      </thead>
      <tbody>
        {% for pet in user_all_missing_post %}
        <tr>
          <td><a href="{% url 'pet_detail' type='adoption' pk=pet.pk %}">{{ pet.pet_name }}</a></td>
          <td><a href="{% url 'pet_detail' type='adoption' pk=pet.pk %}">{{ pet.pet_breed }}</a></td>
          <td><a href="{% url 'update_adoption_post' pk=pet.pk %}"><button class="btn btn-sm btn-primary">Update</button></a></td>
          <td><a href="{% url 'delete_post' type='adoption' pk=pet.pk %}"><button class="btn btn-sm btn-danger">Delete</button></a></td>
        </tr>
        {% empty %}
          <td>You haven't posted anything yet.</td>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </body>
  {% include 'footer.html' %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</html>
