<!DOCTYPE html>
<html>
<head>
	<title>Available Pets</title>
</head>
<body>
	<h1>Available Pets</h1>

	{% if pets %}
		<ul>
		{% for pet in pets %}
			<li>{{ pet.pet_name }} - {{ pet.pet_breed }}</li>
			{% if user.is_authenticated %}
				<li><a href="{% url 'make_adoption_request' pk=pet.pk %}">Adopt me</a></li>
			{% else %}
				<li><a href="{% url 'login' %}">Adopt me</a></li>
			{% endif %}
		{% endfor %}
		</ul>
	{% else %}
	    <p>No pets are available for adoption at this time.</p>
	{% endif %}
</body>
</html>
